
/*about us beegru*/

.aboutContainer {
  display: flex;
  justify-content: flex-end;
}

.aboutText {
  padding-left: 13px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  color: #000000;
}

.aboutUsImage {
  background-repeat: no-repeat;
  border: 3px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  /* padding: 1em 1em 1em; */
}

.aboutUsText {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  padding: 27px;
}
.aboutUsmainheading {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 68px;
  line-height: 78px;
  /* or 115% */

  color: #000000;
}
.video-react .video-react-poster {
  background-color: white !important;
}
.video-react .video-react-big-play-button {
  background-color: white !important;
  color: #bd0000;
  top: 40% !important;
  left: 40% !important;
}
.whyBeegruText {
  padding-left: 13px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  color: #000000;
}
.whyBeegruImage {
  background-image: url("../images/ybeegru.png");
  height: 422.1px;
  background-repeat: no-repeat;
}
.servicesHeading {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 43px;
  /* identical to box height */

  color: #000000;
}

.services {
  font-family: Rubik;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  /* or 200% */

  text-align: center;

  color: #000000;
}

.serviceimg1 {
  background-image: url("../images/img1.jpg");
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0 70px;
}
.serviceimg2 {
  background-image: url("../images/img2.jpg");
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0 70px;
}
.serviceimg3 {
  background-image: url("../images/img3.png");
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0 70px;
}

.howItWorks {
  padding-left: 13px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  color: #000000;
}

.order {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}

.numberCircle {
  border-radius: 50%;

  /* remove if you don't care about IE8 */
  width: 36px;
  height: 36px;
  padding: 8px;
  background: pink;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}

.circleMargin {
  top: 20px;
}

.howItWorks {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
}

.howItWorksContainerSubText {
  font-family: Rubik;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
}

.browswpropeties {
  width: 151px;
  height: 141.72px;
  background-repeat: no-repeat;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url("../images/properties.png");
}

.sitevisit {
  width: 151px;
  height: 141.72px;
  margin: auto;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url("../images/sitevisit.png");
}

.register {
  width: 151px;
  height: 141.72px;
  margin: auto;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url("./../images/register.png");
}

/* .howItWorksContainer{
         display: flex;
 } */

.pText {
  padding: 0px 27px;
}

.picFlowContainer {
  display: flex;
  flex: 100%;
}

.requirementText {
  font-family: Rubik;
  font-weight: bolder;
  font-size: 18px;

  text-align: Center;
  padding-top: 15px;
}

.requirementTextPara {
  font-family: Rubik;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  text-align: center;

  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.4;
}

.boxBorder {
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  /* width: 357px;
        height: 378px; */
  padding-top: 80px;
  margin: 10px 0px;
}

.team {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  padding-left: 13px;
}

.teamText {
  font-family: Rubik;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  padding-left: 13px;
}

.defaultTop {
  margin-top: 102px;
}

.buyerBtn {
  width: 120px;
  height: 44px;
  background: #f2f2f2;
  border-radius: 9px 0px 0px 9px;
  font-family: Rubik;
  font-size: 18px;
  color: #828282;
  border: none;
}

.SellersBtn {
  width: 120px;
  height: 44px;
  background: #f2f2f2;
  border-radius: 0px 9px 9px 0px;
  font-family: Rubik;
  font-size: 18px;
  color: #828282;
  border: none;
}

.btnGroupContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 0px;
}

.buyerBtn:hover,
.buyerBtn:focus {
  background-color: #bd0000;
  color: #ffffff;
  box-shadow: none;
}

.SellersBtn:hover,
.SellersBtn:focus {
  background-color: #bd0000;
  color: #ffffff;
  box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #bd0000;
  border-color: none;
}

.openPositionText {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 41px;
  /* identical to box height, or 108% */
  margin-bottom: 30px;

  color: #000000;
}
#faq {
}
.faqheading {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 41px;
  /* identical to box height, or 108% */
  color: #000000;
  margin-bottom: 25px;
}
.faqsubheadig {
  font-family: Rubik;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  color: #000000;
}
.faqImage {
  background-image: url("../images/faq.png");
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  /* margin: 0 70px;     */
}

.faq p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  color: #201f1f;
}
/* .accordion .card-header:after {
        font-family: 'FontAwesome';  
        content: "\f068";
        float: right; 
    }
    .accordion .card-header.collapsed:after {
        /* symbol for "collapsed" panels */
/* content: "\f067"; 
    }
  */
.designation {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  line-height: 21px;
}

.jobDescript {
  font-family: Rubik;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  opacity: 0.4;
}

.apply {
  font-family: Rubik;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-decoration: underline;
}

.badge {
  font-size: 14px;
  line-height: 21px;
  margin: 5px;
}
.centeralign {
  text-align: center;
}

.Accordion .button {
  float: right;
}
#faq .accordion {
  background: #ffffff;
  border: 0.5px solid #979797;
  border-radius: 6px;
}

#faq .card {
  border: 0.7px solid #979797;
  border-radius: 2px;
}
#faq .card-body {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  color: #201f1f;
}

#faq .card-header {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #201f1f;
}

.aboutNav {
}

.aboutNavbar {
  box-shadow: none !important;
  /* border-bottom: 1px solid #e0e0e0; */
}

.aboutNav .nav-item {
  text-transform: initial;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  color: #201f1f;
  padding: 5px;
}
