#Blog .card {
  border-radius: 3px;
}

.BlogPageWrapper {
  padding: 30px 0px;
  background: #ffffff;
}
.BlogPageWrapper .heading {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #1c2e3d;
}
.BlogPageWrapper .heading ul li {
  display: inline-flex;
  padding: 5px;
}
.BlogPageWrapper .subheading {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  padding-top: 30px;
  color: #2c2c35;
}
.BlogPageWrapper p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  display: flex;
  align-items: center;
  padding-top: 30px;
  color: #2c2c35;
}
.BlogPageWrapper .italicword {
  font-family: Lora;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 30px;
  color: #2c2c35;
}
.BlogPageWrapper .boldword {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  display: flex;
  align-items: center;
  padding-top: 30px;
  color: #2c2c35;
}

.BlogreviewCardContainer{
  padding-top: 30px;
}
.BlogreviewCard {
  width: -webkit-fill-available;
  background: #ffffff;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.134086);
  border-radius: 0rem !important;
  padding: 30px 0px;
}

.BlogShareBtn {
  font-size: 18px;
  background-color: #BD0000;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius:50%;
  float: right;
}
.BlogGallery{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.461617) 100%);
  border-radius: 12px;
}
.BlogGallery .react-photo-gallery--gallery img{

background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.461617) 100%);
border-radius: 12px;
}
