/* Design inspiration:  https://dribbble.com/shots/1978243-Latest-News */
body, html {
    font-family: 'Montserrat', sans-serif;
    background-color: #341cac;
  }
  
  .card {
    width: 280px;
    display: block;
    margin: 60px auto;
    box-shadow: 10px 5px 40px 20px #2d1896;
    transition: .25s;
  }
  .card:hover {
    box-shadow: 10px 5px 40px 20px #271580;
    cursor: pointer;
  }
  .card:hover .button-primary {
    transform: translate(10px, 0);
  }
  
  .card-header {
    height: 150px;
    width: 100%;
    padding: 15px;
    width: 100%;
    background-size: cover;
    color: #fff;
  }
  
  .card-header--title {
    text-transform: uppercase;
    margin: 0;
  }
  
  .card-body {
    padding: 15px;
    background-color: #fff;
    width: 100%;
  }
  
  .date {
    font-size: 11px;
    font-weight: 600;
    color: grey;
  }
  
  .body-content {
    padding-bottom: 40px;
    font-size: 13px;
    line-height: 1.8;
  }
  
  .button-primary {
    border: none;
    box-shadow: none;
    font-family: inherit;
    background-color: transparent;
    color: #341cac;
    font-size: 15px;
    transition: .25s;
  }
  .button-primary i {
    padding-right: 4px;
  }
  
  .designer-link {
    color: #fff;
    text-align: center;
    fon-size: 12px;
    text-decoration: none;
    display: block;
  }
  
  /* Designer credit: https://dribbble.com/shots/1978243-Latest-News */
  body, html {
    overflow-x: hidden;
  }
  
  .app-header {
    display: block;
    padding: 30px;
  }
  
  .app-title {
    display: inline-block;
    width: 100%;
    margin: 80px 0 0 0;
    float: left;
    position: relative;
    color: #fff;
  }
  @media (min-width: 768px) {
    .app-title {
      width: 20%;
      margin: 280px 0 0 0;
    }
  }
  .app-title h1 {
    font-size: 52px;
    margin: 0;
  }
  .app-title p {
    font-weight: 200;
    opacity: .5;
  }
  
  .app-title-content {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  @media (min-width: 768px) {
    .app-title-content {
      width: auto;
      position: absolute;
      text-align: left;
    }
  }
  
  .app-card-list {
    display: inline-block;
    width: 100%;
    float: right;
    margin: 0;
    min-height: 75vh;
    white-space: normal;
    overflow-x: scroll;
    margin-top: -70px;
  }
  .app-card-list::-webkit-scrollbar {
    display: none;
  }
  @media (min-width: 768px) {
    .app-card-list {
      width: 80%;
      white-space: nowrap;
      margin-top: 0;
    }
  }
  .app-card-list .card {
    margin: 60px 30px;
    display: inline-block;
  }
  .app-card-list .card .card-body {
    white-space: normal;
  }
  
  .designer-link {
    display: inline-block;
    padding-top: 40px;
  }
  