@import url('https://fonts.googleapis.com/css?family=Robot|font-style=normal;');
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');
footer{
    background: #FFFFFF;
border-top: 1px solid #D9DDE7;
box-sizing: border-box;
margin-top: 10px;
}

.footerlist{
list-style-type: none;
font-weight: 600;
font-size: 14px;
line-height: 30px;
color: #596172;
}
.footercopyright{
    font-weight: normal;
    font-size: 15px;
   /* line-height: 18px;
    identical to box height, or 120% */
    display: flex;
    /* align-items: center; */
    
    color: #767676;
    /* margin: 5px; */
    padding: 15px;
    

}
.hr{

    border-top: 1px solid #D9DDE7;

}
.footericons{
    text-align: -webkit-right;
}
.footericons {
    list-style-type: none;
    display: inline;
    
}
.footericons > i{
    color:  #333333;
    background: #C4C4C4;
    padding: 15px;
    margin: 5px;
}
a{
    color: #596172;
}
a:hover{
    color: #A40C75;
}
a:active{
    color: #AA0000;
}
.contactdiv{
 background: #FFFFFF;
border: 1px solid #E0E0E0;
box-sizing: border-box;
text-align: center;

}

.contactheading{
    font-weight:600;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 1px;
    
    color: #AA0000;
}

.contactnumber{
    font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #596172;

}


.contactemail{
    font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #596172;

}
.conatcticon{
    font-weight: bold;
font-size: 14px;
line-height: 16px;

color: #596172;
}
.conatcticon i{
    color: #AA0000;
    background: #FFFFFF;
    border-radius: 0px ;
    box-shadow: 0px; 
}
.m35{
    margin-top: 35px;
    margin-bottom: 35px;
}
 hr.divider {
        margin:15px;
    
}

@media (max-width: 380px) {
   
    .footericons  > i{
            padding: 5px;
            margin: 2px;
    }
    .footercopyright{
            font-size: 12px;
            padding:0px;
            margin:0px;
    }
}

.ChatBtn {
    font-size:20px;
    border: none;
    outline: none;
    background-color: #BD0000;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius:50%;
    float: right;
  }