/*All devices greater than laptop*/
@media (min-width: 990px) {
  .newThingsItem.row {
    /* margin-right: 20px; */
    cursor: pointer;
  }
  #navbarTogglerDemo01 ul.navbar-nav {
    /* flex-direction: row-reverse; */
  }
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  /* Top left text */
  .top-left {
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: x-large;
  }

  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }

  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*property page carousel thumbmail images width*/
  .carousel .thumb {
    width: 200px;
  }
}
/*All devices till laptop from all mobile devices*/
@media (max-width: 990px) {
  input {
    margin: 0;
    font-family: inherit;
    font-size: 15px;
    line-height: inherit;
  }
  /* For mobile phones: */
  #cardContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .newThingsItemsContainer{
                flex-direction: column;
        } */
  .navElement {
    padding: 17px;
  }

  .submitForm {
    padding-right: 100px;
  }

  .newThingsItem {
    width: 220px;
    height: 220px;
  }
  .newThingsItemImage {
    height: 210px;
    width: 170px;
  }
  .newThingsItem.row {
    margin-right: 20px;
  }
  .submitFormImage {
    display: none;
  }
  .submitForm {
    border-right: none;
  }
  .bannerTextHeading {
    font-size: 36px;
  }
  .propertVicinity {
    height: auto;
  }
}
/*All devices till tablet from all mobile devices*/
@media (max-width: 767px) {
  .buttonHomepage {
    min-width: 65px;
    padding: 0px;
    font-size: 18px;
  }
  .footericons > ul > li > i {
    padding: 5px;
    margin: 3px;
  }
  .footercopyright {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
  }
  .newThingsItemsContainer {
    flex-direction: column;
  }
  #newThings {
    height: 100%;
  }
  .newThingsItem {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    /* height: 69px; */
  }
  .newThingsItemImage {
    /* transform: scale(0.5); */
    /* //margin: 0; */
    height: 70px;
    width: 70px;
    background-size: contain;
  }
  .homeUpper {
    right: -30px;
  }
  serviceUpper {
  }
  .contactUsButton {
    /* width: 100%; */
    /* margin-left: 12px; */
    margin: 10px;
  }
  .contactUsButtons {
    flex-direction: column;
    height: 100%;
  }
  /* #contactUs {
                height: 100%;
                margin-bottom: 0;
        } */
  .mobile {
    display: none;
  }
  .beegruScoreUl {
    height: 100%;
    width: 90%;
  }
  /* #propertyTabs ul {
                width: 90%;
            } */
  .propertAmenities {
    justify-content: center;
    flex-direction: row;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
  }
  .propertAmenities .liWrapper:nth-child(even) {
    border: none;
  }
  .propertVicinity {
    flex-direction: row;
    height: auto;
  }
  .vicinityRowWrapper {
    height: auto;
  }
  /* ul {
                padding-left:10px !important; 
        } */
  .propLocation {
    width: 90%;
  }
  #propertyTabs .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .searchButtons {
    height: auto;
  }
  .rupeeContainer {
    transform: scale(0.7);
    right: 52px;
    bottom: 22px;
    height: 12px;
    width: 12px;
  }
  .plusCircle {
    right: 35px;
  }
  .plusCircle {
    /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAA+CAYAAABzwahEAAAACXBIW…nJzd8wWZ8f8VRBI8RtuDQ/qg10jXmYbQt0bDD7CJKb2uX5BNXIkPDoHJdAAAAAAElFTkSuQmCC');
                background-repeat: no-repeat; */
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 0;
    right: 65px;
    padding: 0;
    background-size: contain;
  }
  .plusCircle {
    height: 45px;
    width: 45px;
    position: absolute;
    bottom: -8px;
    right: 15px;
    padding: 0;
    background-size: contain;
  }
  .plus {
    margin: 10px;
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAACXBIW…pGg6YzNEJ/LOSnmFoVWKKSkJnoIIHjh7CmLhxpkE7Kr1cRT0vENHvbuCz3AAAAAElFTkSuQmCC); */
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    background-size: contain;
  }
  .homeUpper {
    /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAAXCAYAAABAtbxOAAAACXBIW…E16rl/jZRAigQKcgHFYVYo5zkZ1n+79RZBuHzx7m2Syw+4rMIbrkDPCgAAAABJRU5ErkJggg=='); */
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    bottom: 20px;
    right: 48px;
    background-size: contain;
  }
  .homeDown {
    background-repeat: no-repeat;
    height: 37px;
    width: 32px;
    position: absolute;
    top: 13px;
    left: 2px;
    background-size: contain;
  }
  serviceUpper {
  }
  .newThingsItem.row {
    margin-right: 20px;
  }
  .newThingsItemWrapper {
    margin-bottom: 10px;
  }
  .homeUpper {
    right: 40px;
  }
  .submitFormImage {
    display: none;
  }
  .contactUsRowColumn {
    margin-bottom: 20px;
  }
  .bannerTextHeading {
    font-size: 36px;
  }
  .propertVicinity {
    height: auto;
  }

  .main-header {
    display: none;
  }
  .propertyCard,
  .propertyCardImg,
  .propertyCardData {
    width: 338px !important;
  }
  /* #contactUs{
                padding:  15px;
                margin: 40px 15px;
        } */
  .containnerWrapper {
    margin: 10px 10px 70px 10px;
  }
  .containnerWrapper.aboutBeeger {
    padding-bottom: 10px;
  }
  .searchTextPropertyListPage input {
    width: 100%;
  }
  .textAndDropDown input {
    width: 100%;
  }
  .textAndDropDown {
    display: inline-flex;
    width: 100%;
  }
  .textAndDropDownWrapper {
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  .propertyListPageWrapper .propertyType .searchFilterIcons {
    padding: 5px;
  }
  .propertyListPageWrapper .container div div {
    margin-bottom: 10px;
  }
  .propertyListPageWrapper .container {
    overflow: hidden;
  }
  .propertyCard,
  .propertyCardImg,
  .propertyCardData {
    width: 100% !important;
  }
  .rent,
  .buy {
    width: 90px;
  }
  .propertyListPageWrapper .propertyType .searchFilterIcons {
    padding: 5px;
  }
  .propertyListPageWrapper .searchFilterIcon {
    margin: 0 5px 5px 0;
  }
  .serviceCardContainer .servicescard-deck{
    padding-bottom: 0px;
}
}
/*All devices till mobile */
@media (max-width: 380px) {
  html {
    overflow-x: hidden;
  }
  ul {
    padding-left: 10px !important;
  }
  .buttonHomepage {
    min-width: 55px;
    padding: 0px;
    font-size: 15px;
    height: 40px;
  }
  .footericons > ul > li > i {
    padding: 5px;
    margin: 3px;
  }
  .footercopyright {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
  }
  /* For mobile phones: */
  .propertyCard,
  .propertyCardImg,
  .propertyCardData {
    width: 100% !important;
  }
  .findPropertynearyou{
    height:auto;
  }
  #findPropertiesNearBy {
    flex-direction: column;
    height: 100%;
    padding-bottom: 10px;
  }
  .aboutBeegerInfo {
    margin-left: 15px;
  }
  .aboutBeegerText {
    width: auto;
  }
  .familyPaintingWall {
    right: 20px;
    top: 290px;
  }
  #aboutBeeger {
    background-size: contain;
  }
  .beegruScoreUl {
    height: 100%;
    width: 90%;
  }
  /* #propertyTabs ul {
                width: 90%;
            } */
  .propertAmenities {
    justify-content: center;
    flex-direction: row;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
  }
  .propertAmenities .liWrapper:nth-child(even) {
    border: none;
  }
  .propertVicinity {
    flex-direction: row;
    height: auto;
  }
  .propertVicinity .liWrapper {
    width: 100%;
  }
  .propLocation {
    width: 90%;
  }
  #propertyTabs .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .searchButtons {
    height: auto;
  }
  .plusCircle {
    right: 35px;
  }
  .rupeeContainer {
    transform: scale(0.7);
    right: 52px;
    bottom: 22px;
    height: 12px;
    width: 12px;
  }
  .plusCircle {
    /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD4AAAA+CAYAAABzwahEAAAACXBIW…nJzd8wWZ8f8VRBI8RtuDQ/qg10jXmYbQt0bDD7CJKb2uX5BNXIkPDoHJdAAAAAAElFTkSuQmCC'); */
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 0;
    right: 65px;
    padding: 0;
    background-size: contain;
  }
  .plusCircle {
    height: 45px;
    width: 45px;
    position: absolute;
    bottom: -8px;
    right: 15px;
    padding: 0;
    background-size: contain;
  }
  .plus {
    margin: 10px;
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAACXBIW…pGg6YzNEJ/LOSnmFoVWKKSkJnoIIHjh7CmLhxpkE7Kr1cRT0vENHvbuCz3AAAAAElFTkSuQmCC); */
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    background-size: contain;
  }
  .newThingsItem.row {
    margin-right: 20px;
  }
  .newThingsItemWrapper {
    margin-bottom: 10px;
  }
  .bannerTextHeading {
    font-size: 36px;
  }
  .propertVicinity {
    height: auto;
  }
  .main-header {
    display: none;
  }
  .propertyCard,
  .propertyCardImg,
  .propertyCardData {
    width: 100% !important;
  }
  .propertyListPageWrapper .container {
    overflow: hidden;
  }
  .propertyListPageWrapper .container div div {
    margin-bottom: 10px;
  }
  .propertyListPageWrapper .propertyType .searchFilterIcons {
    padding: 5px;
  }
  .textAndDropDownWrapper {
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  .textAndDropDown input {
    width: 100% !important;
  }
  .textAndDropDown {
    display: inline-flex;
    width: 100%;
  }
  .searchTextPropertyListPage input {
    width: 100% !important;
  }
  .containnerWrapper.aboutBeeger {
    padding-bottom: 10px;
  }
  .containnerWrapper {
    margin: 10px 10px 70px 10px;
  }
  /* #contactUs{
                padding:  15px;
                margin: 40px 15px;
        } */
  .rent,
  .buy {
    width: 90px !important;
  }
  .propertyListPageWrapper .propertyType .searchFilterIcons {
    padding: 5px;
  }
  .propertyListPageWrapper .searchFilterIcon {
    margin: 0 5px 5px 0;
  }
  .serviceCardContainer .servicescard-deck{
    padding-bottom: 0px;
}
}
