.loginContainer {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 5px;
}

.loginButton {
  background: #bd0000;
  border: 1px solid #bd0000;
  box-sizing: border-box;
  border-radius: 5px;
}
.loginfacebook {
  background: #3b5998;
  border: 1px solid #3b5998;
  box-sizing: border-box;
  border-radius: 5px;
}

logingoogle {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  color: #4f4f4f;
  font-weight: bold;
}

#Form {
  font-family: Rubik;
  font-style: normal;
}

.red {
  color: red;
}

.controll {
  background: #f2f2f2;
  border: 1px solid #e0e0e0;
  color: black;
}

.button1 {
  background: #bd0000;
  border: 1px solid #bd0000;
  box-sizing: border-box;
  border-radius: 5px;
}

.btnFullwidth {
  width: 100%;
}
.btnfacebook {
  background: #3b5998;
  border: 1px solid #3b5998;
  box-sizing: border-box;
  border-radius: 5px;
}
.btnfacebook i {
  padding: 2px 0px;
}

.modal-header {
  background: white;
  color: black;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.modal .close {
  background: #ffffff;
  border-radius: 50%;
  color: #828282;
  margin: inherit;
  border: 1px solid #828282;
  padding: 2px 7px;
}
.modal-content {
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
}
label {
  font-size: 1rem !important;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}
.input-group {
  margin-bottom: 1rem;
}

#postrequirement .input-group-text {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-right: none;
}

.Loginmodaldiv1 {
  background: #f2f2f2;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  padding: 20px;
}
.Loginmodaldiv1 img {
  margin-top: 30px;
}

.Loginmodaldiv2 {
  /* text-align: center;
  align-items: center; */
  padding: 20px;
}
.Loginmodaldiv2 button {
  border-color: none;
}
.Loginmodaldiv2 .card-deck {
  margin-top: 50px;
}
.Loginmodaldiv2 .card {
  box-shadow: none !important;
  border-radius: none !important;
  border: none !important;
}
.Loginmodaldiv2 .card-img-top {
  width: 100%;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

.Loginmodaldiv2 p {
  color: #828282;
}
.Loginmodaldiv2 .card-body {
  padding: 0px !important;
}
.Loginmodaldiv2 .card-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  /* or 164% */

  text-align: center;

  color: black !important;
}
.m1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
  justify-content: flex-start;
}
.m1 input {
  width: 400px;
  border: none;
}
.login {
  color: black;
}
.login a {
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-decoration-line: underline;
  line-break: auto;
  color: #bd0000;
}

.form-control-file {
  color: #576370;
  background-color: #f2f2f2;
  max-width: 100%;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
}
textarea.form-control {
  margin-top: 10px;
}
.postform_text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  color: #828282;
}
.postform_p {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4f4f4f;
}
.postform_link {
  font-weight: bolder;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #bd0000;
}
.postform_subbutton{
  background: #FFFFFF;
border: 0.7px solid #BDBDBD;
box-sizing: border-box;
border-radius: 5px;
}
.input-group-text{
  background-color: #FFFFFF !important;
}
.form-check{
  position: relative;
    display: block;
    /* margin-bottom: 1rem; */
    padding-left: 2.25rem;
    background: #FFFFFF;
    border: 0.7px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-check-input{
 
  position: absolute;
  margin-top: 0.7rem;
}
.form-check-label {

  margin-top: 0.5rem;
}
.bordernone{
  border: none!important;
}
.mlr-3{
  margin-right: 1rem;
  margin-left: 1rem;
}