.ServicesPageWrapper {
  padding: 30px 0px;
  background: #ffffff;
}

.serviceCardContainer .servicescard-deck {
  padding-bottom: 30px;
}

.serviceCardContainer .card {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
  border-radius: 20px !important;
}
.serviceCardContainer .card i {
  text-align: center;
  font-size: xx-large;
  color: #bd0000;
  background: rgba(73, 188, 247, 0.25);
  border-radius: 50%;
  padding: 30px;
  margin: 30px 70px;
}
.serviceCardContainer .spantext {
  font-family: Rubik;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #000000;
  text-align: center !important;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.ArchitectureCardContainer .card {
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
  border-radius: 20px;
  text-align: center;
}
.ArchitectureCardContainer .card p {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 1px;

  color: #4f4f4f;
}

.Servicesicons {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 2px;
  color: #4f4f4f;
}
.ServicesPageWrapper .heading {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #1c2e3d;
}
.ServicesPageWrapper .heading ul li {
  display: inline-flex;
  padding: 5px;
}
.ServicesPageWrapper .subheading {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  /* or 100% */

  color: #141821;
}
.ServicesPageWrapper .subheading i {
  color: #bd0000;
  padding: 30px;
}
.ServicesPageWrapper .card-deck {
  margin-bottom: 15px;
}
.IconImg {
  width: 80px;
  height: 70px;
}

/* Top right text */
.img-fluid .top-right {
  top: 8px;
  right: 16px;
}

.AboutServicesPageWrapper {
  padding: 30px 0px;
}
.companyServiceAbout {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px 0px;
}
.companyaboutImg {
  background-repeat: no-repeat;

  position: relative;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(209, 213, 223, 0.5);
  border-radius: 20px;
  padding: 1em 1em 1em;
}
.aboutServicetext {
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AboutServicesCardPageWrapper {
  padding: 30px 0px;
}
.AboutServicesCardPageWrapper h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px 0px;
}
.AboutServicesCardPageWrapper .card {
  box-shadow: none;
  border-radius: 0rem;
  border: none;
}
.AboutServicesCardPageWrapper .card-img-top {
 
  border-radius: 2.5rem;
 
}
.AboutServicesCardPageWrapper .card i{
  color: #49BCF7;
}
.AboutServicesCardPageWrapper .card-text{
  color: #141821;
  font-weight: bold;
  letter-spacing:1px;
}